.programas{
  .programas-titulo{
    color: #6F8854;
    font-family: 'Belleza';  
    width: fit-content;
    text-align: left;
    margin-left: 2%;
  }
  .primeira-imagem{
    margin-left: 2%;
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 50vh;
    object-fit: cover;
  }
  .segunda-imagem{
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 50vh;
    object-fit: cover;
  }
  .sobre-atividade{
    margin-left: 2%;
    color: #6F8854;
    font-family: 'Belleza'; 
  }
  .subtitulos{
    margin-left: 2%;
    text-align: left;
    color: #6F8854;
    font-family: 'Belleza'; 
  }
  .texto{
    margin-left: 2%;
    font-family: 'Belleza';
    text-align: left;
    width: 66.66%;
  }
  .programas-botao{
    background-color: #6F8854;
    color: white;
    padding: 5px 20px;
    font-size: 15px;
    transition: 0.3s;
    font-family: 'Belleza';
    border:none;
  }
}
