.programas{
  .centro{
    text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  }
  .programasimg{
    width: 100%;
    height: 400px;
  }
  .texto-na-imagen{
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-family: 'Belleza';
    transform: translate(-50%, -50%);
    font-size: 4em;
  }
  .programas-titulo{
    color: #6F8854;
    border-bottom: 3px solid #B4A76A;
    width: fit-content;
    font-family: 'Belleza';  
    text-align: center;
    margin: 0 auto;
  }
  .imagens{
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .primeira-imagem{
    float: left;
    width: 33.33%;
    padding: 3vw;
    height: 50vh;
    object-fit: cover;
  }
  .segunda-imagem{
    float: left;
    width: 33.33%;
    padding: 3vw;
    height: 50vh;
    object-fit: cover;
  }
  .sobre-atividade{
    margin-left: 2%;
    color: #6F8854;
    font-family: 'Belleza'; 
  }
  .subtitulos{
    margin-left: 2%;
    text-align: left;
    color: #6F8854;
    font-family: 'Belleza'; 
  }
  .texto{
    margin-left: 2%;
    font-family: 'Belleza';
    text-align: left;
    width: 66.66%;
  }
  .programas-botao{
    background-color: #6F8854;
    color: white;
    padding: 5px 20px;
    font-size: 15px;
    transition: 0.3s;
    font-family: 'Belleza';
    border:none;
  }
}
