.reservas {
    .disponibilidade {
        background-color: #B4A76A;
    }

    p {
        text-align: left;
        font-family: 'belleza';
        color: white;
        border-bottom: 3px solid #6F8854;
        width: fit-content;
        margin-left: 1% ;
        margin-bottom: 1%;
        

    }

    .checkin {
        color: #B4A76A;
        padding: 5%;
        border: #B4A76A;
    }

    .botao-disponibilidade {
        background-color: #6F8854;
        color: white;
        padding: 4px 10px;
        font-size: 15px;
        transition: 0.3s;
        font-family: 'Belleza';
        border: none;
        float: right;
        margin-right: 50%;
    }


}