.reservas-container {
  margin-bottom: 15px;
    .disponibilidade {
        background-color: #B4A76A;
        .verificarbutton{
          background-color: #6F8854;
          border: 0;
          color: white;
          padding: 10px ;
          font-family: 'Belleza';
          font-size: large;
          align-items: baseline;
          flex:auto;
          margin: auto;
          margin: 0;
          transform: translate(50%, 50%);
          transition: 0.3s;

          @media (max-width: 800px) {
            width: 60%;
            transform: translate(50%, 10%);
          }
          
        
          
        }
    }.verificarbutton:hover{
      background-color: #86a366;
      cursor: pointer;
    }

    .textoalt {
        text-align: left;
        font-family: 'belleza';
        color: white;
        border-bottom: 3px solid #6F8854;
        width: fit-content;
        margin-left: 1% ;
        margin-bottom: 1%;
        

    }

    .checkin {
        color: #B4A76A;
        padding: 5%;
        border: #B4A76A;
    }

    .botao-disponibilidade {
        background-color: #6F8854;
        color: white;
        padding: 4px 10px;
        font-size: 15px;
        transition: 0.3s;
        font-family: 'Belleza';
        border: none;
        float: right;
        margin-right: 50%;
        border-radius: 5px;
        
    }

    
  .pagetitle{
    font-size: 312.5%;
    font-family:'Belleza';
    color:#B4A76A;
    border-bottom: 2px solid #6F8854;
    border-width: 10%;
    width: fit-content;
    text-align: center;
    align-items: center;
    margin: 0 auto;

  }
  .card {
    display: flex;
    flex-direction: row;
    width: 70%; /* Adjust width as needed */
    margin: 0 auto; /* Center the card on the page */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
  }
  
  .card-image {
    display: flex;
    justify-content: center;
    align-items: left;
    object-fit: cover;
    width: 40%; /* Set image container width */
  }
  
  .card-content {
    padding: 10px;
    flex: 1; /* Allow content to fill remaining space */
    justify-content: space-between; /* Distribute content horizontally */
    text-align: left; /* Aligns all text inside .card-content to the left */
  }
  .card-content p {
    justify-content: space-between; /* Distribute content horizontally */
    text-align: left; /* Aligns all text inside .card-content to the left */
    margin-left: 2%;
    font-family: 'Belleza';
  }
  .card-content li {
    justify-content: space-between; /* Distribute content horizontally */
    text-align: left; /* Aligns all text inside .card-content to the left */
    margin-left: 5%;
  }
  .roomtitle p{
    font-size: 40px;
    color: #6F8854;
    text-align: left;
    margin-left: 10px;
    font-family: 'Belleza';
  }
  .roomtitle {
    font-size: 40px;
    color: #6F8854;
    text-align: left;
    margin-left: 10px;
    font-family: 'Belleza';
  }

  /* DIV com os botões */
  .card-buttons {
    display: flex;
  }
  
 /* Imagens do Cartão dos Quartos */
  .card-image img {
    width: 100%; /* Ensures image doesn't exceed container width */
    height: auto; /* Maintains image aspect ratio */
    object-fit: cover;
  }
   /* Estilo Botão 1 */
  .button1{
    background-color: rgba(102, 133, 69, 0.769);
    padding: 20px ;
    border: none;
    color: white;
    font-family: 'Belleza';
    font-size: large;
    margin-left: 10px;
    transition: 0.3s;
    text-decoration: none;
}
.button1:hover{
    background-color: rgba(128, 168, 86, 0.769);
}

   /* Estilo Botão 2 */
.button2{
    background-color: rgba(102, 133, 69, 0.769);
    padding: 20px ;
    border: none;
    color: white;
    font-family: 'Belleza';
    font-size: large;
    margin-left: 10px;
    text-decoration: none;
}
.button2:hover{
    background-color: rgba(128, 168, 86, 0.769);
}



}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 133, 69, 0.769);
    padding: 20px ;
    border: none;
    color: white;
    font-family: 'Belleza';
    font-size: large;
    margin-left: 10px;
    text-decoration: none;
    height: 25px;

    button{
      margin: 10%;
      font-family: 'Belleza';
      border: none;
      
    }
}
.tray {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.836);
  padding: 10px;
  border-top: 1px solid #cccccc;
  z-index: 999; /* Certifique-se de que a bandeja esteja na frente de outros elementos */
  font-family: 'Belleza';
  
}
.pricetag{
  font-size: 20px;
}

.contador{
  
  align-items: center;
  text-align: center;
  font-family: 'Belleza';
  border: 1px solid #6F8854;
  button{
    background-color: #6F8854;
    border: none;
    color: white;
    padding: 10px;
  }
  span{
    padding: 10px;
  }
  
}
