.restaurante {
  .card-info {
    margin-top: 3vh;
    text-align: center;
    color: white;
    font-family: 'Belleza';
  }
  .titulos{
    color: #B4A76A;
    font-family: 'Belleza';
    width: fit-content;
    margin: 0 auto;
  }

  .nome {
    text-align: center;
    color: #6F8854;
    font-family: "Belleza";
  }

  .card-content {
    color: white;
    font-family: 'Belleza';
  }

  .head-text {
    position: relative;
  }

  .text-on-image {
    background-color: rgba(99, 99, 99, 0.37);
    color: white;
    position: absolute;
    text-align: center;
    top: 90%;
    left: 10%;
    font-family: 'Belleza';
    transform: translate(-50%, -50%);
  }

  .restaurante-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .imghotel-bar {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .descquartos {
    font-family: 'Belleza';
    font-size: large;
    text-align: left;
    position: relative;
    margin-left:6%;
  }

  .tablerest {
    margin-bottom: .1vh;
    td {
      width: 25vw;
      border-collapse: collapse;
      background-color: #6F8854;
    }
  }

  .flip-card {
    width: 100%;
    height: 60vh;
    perspective: 1000px;
    cursor: pointer;
  }

  .flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
  .chefstitulogeral
  {
    margin-left: 3vw;
    font-size: larger;
    color: black;
    font-family: 'Belleza';
    width: fit-content;
    border-bottom: 2px solid #6F8854;
  }
  .chefstitulo
  {
    font-size: larger;
    margin-bottom: 3vh;
    color: black;
    font-family: 'Belleza';
    width: fit-content;
    border-bottom: 2px solid #6F8854;
  }
  .chef-container
  {
    margin-left: 3vw;
    display: flex;
    justify-content: center;
    width: 93vw;
    font-family: 'Belleza';
    text-align: left;
  }
  .chefscontent
  {
    width: 50%;
    .esquerda{
      background-color: #6F8854;
    }
    .direita
    {
      background-color: blueviolet;
    }
  }
  .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  .imgchef
  {
    margin-right: 15% ;
    float: right;
    border-radius: 8px;
    height: 50%;
  }
  .chef-text
  {
    line-height: 4vh ;
  }
}