.restaurante {
  .card-info {
    margin-top: 3vh;
    text-align: center;
    color: white;
    font-family: 'Belleza';
  }
  .titulos{
    color: #B4A76A;
    font-family: 'Belleza';
    width: fit-content;
    margin: 0 auto;
  }

  .nome {
    text-align: center;
    color: #6F8854;
    font-family: "Belleza";
  }

  p {
    color: white;
    font-family: 'Belleza';
  }

  .head-text {
    position: relative;
  }

  .text-on-image {
    background-color: rgba(247, 233, 233, 0.349);
    color: black;
    position: absolute;
    text-align: center;
    top: 90%;
    left: 10%;
    font-family: 'Belleza';
    transform: translate(-50%, -50%);
  }

  .restaurante-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  .imghotel-bar {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .descquartos {
    font-family: 'Belleza';
    font-size: large;
    text-align: left;
    position: relative;
    margin-left:6%;
  }

  .tablerest {
    margin-bottom: .1vh;
    td {
      width: 25vw;
      border-collapse: collapse;
      background-color: #6F8854;
    }
  }

  .flip-card {
    width: 100%;
    height: 60vh;
    perspective: 1000px;
    cursor: pointer;
  }

  .flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
}